<form action ="/edit" method="POST">
	<fieldset class = hidden>
    <label for="static-id">ID:</label>
    <input type="text" name="static-id" id="static-id" value= <%= @comic_edit.id %> >
  </fieldset>

	<fieldset>
    <label for="comic-id">ID:</label>
    <input type="text" name="id" id="id" value= <%= @comic_edit.id %> >
  </fieldset>
  <fieldset>
  	<label for="comic-series">Comic Series:</label>
    <input type="text" name="comic-series" id="comic-series" value= <%= "#{@comic_edit.comic_series}" %> >
  </fieldset>
  <fieldset>
  	<label for="title">Title:</label>
    <input type="text" name="title" id="title" value= <%= @comic_edit.title %>>
  </fieldset>
  <fieldset>
  	<label for="issue-number">Issue Number:</label>
    <input type="text" name="issue-number" id="issue-number" value= <%= "#{@comic_edit.issue}" %> >
  </fieldset>
  <fieldset>
  	<label for="image-path">Image Path:</label>
    <input type="text" name="image-path" id="image-path" value= <%= @comic_edit.img_path %> >
  </fieldset>
  <fieldset>
    <label for="synopsis">Synopsis:</label>
    <textarea rows="4" cols="50" name="synopsis" id="synopsis"><%= @comic_edit.synopsis %></textarea>
  </fieldset>

  <fieldset>
    <label for="submit"></label>
    <input type="submit" value="Submit" name="submit" id="submit">
  </fieldset>
</form>
  
