<main>
	<section>
		<img class="header-img" src="/images/<%= @series %>_background.png">

		<h2>Issue - <%= @issue %></h2><!--
		--><h2><%= @comic_show[0].title %></h2>

		<p><%= @comic_show[0].synopsis %></p>
	</section>
	<img class="issue-img" src=<%= @comic_show[0].img_path  %> alt="Comic Cover" >
</main>