	<h1><%= @title.gsub(/\w+/, &:capitalize) %></h1>
	<h2><%= @issue.gsub("_", " ").capitalize %></h2>

	<h3><%= @comic.title %></h3>

	<h4><%= @hello %></h4>


	<img class="issue-img" src=<%= @comic.img_path  %> alt="Comic Cover" >

	<p><%= @comic.synopsis %></p>